@import 'reset';



.yelp-wrapper {
	background: url("/dist/img/bg-yelp.png") no-repeat;
	background-position: center;
	width: 100%;
	min-height: 100vh;
	position: relative;

	.company-name {
		text-align: center;
		font-size: 4em;
		position: absolute;
		margin: 0;
		top: 25%;
		left: 50%;
		transform: translate(-50%, -20%);
		padding-bottom: 20px;
	}

	.form-wrapper {
		padding: 10px;
		position: absolute;
		margin: 0;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -20%);
	}

	.form-wrapper .find-food-input {
		width: 250px;
		border-radius: 4px;
		position: absolute;
		top: 0%;
		left: 50%;
		margin: 0;
		transform: translate(-50%, -100%);
		border: 1px white solid;
		outline: none;
		padding: 5px;
		background: #fff;
	}

	.form-wrapper .find-area-input {
		width: 250px;
		padding: 5px;
		border-radius: 4px;
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translate(-50%, 0%);
		border: 1px white solid;
		outline: none;
		background: #fff;

		&.filled ~ .label-area {
			display: none !important;
		}
		&.filled ~ .label-area-input {
			display: none !important;
		}

		
	}


	.form-wrapper #search {
		position: absolute;
		top: 100%;
		left: 50%;
		margin: 0;
		transform: translate(-50%, 100%);
		text-decoration: none;
		color: black;
		border: 1px solid orange;
		background: orange;
		padding: 10px;
		border-radius: 4px;
		transition: .2;
	}
}


.results-wrapper {
	margin: 20px;
	width: 40%;
	float: left;
}

.label-food-input, 
.find-food-input {
	position: relative;
	display: block;
	padding-right: 76px;
	width: 170px;
	box-sizing: border-box;

	&.filled ~ .label-food {
		display: none !important;
	}
	&.filled ~ .label-food-input {
		display: none !important;
	}

}

.label-food-input::after {
	content:  "" attr(data-placeholder);
	position: absolute;
	top: -28px;
	left: -34px;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	display: block;
	color: rgba(0, 0, 0, 0.6);
	font-weight: bold;
	z-index: 1;
	}

.label-area-input::after {
	content:  "" attr(data-placeholder);
	position: absolute;
	top: 18px;
	left: -30px;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	display: block;
	color: rgba(0, 0, 0, 0.6);
	font-weight: bold;
	z-index: 1;
	}

	.label-food {
		display: none;
		position: relative;
		padding-right: 76px;
		width: 170px;
		box-sizing: border-box;
		z-index: 10;
	}

	.label-area {
		display: none;
		position: relative;
		padding-right: 76px;
		width: 170px;
		box-sizing: border-box;
		z-index: 10;
	}
	
	

	.label-food::after {
		content:  "" attr(data-food);
		position: absolute;
		top: -28px;
		left: 4px;
		font-family: arial, helvetica, sans-serif;
		font-size: 12px;
		color: rgba(0, 0, 0, 0.9);
		font-weight: bold;
	}
	.label-area::after {
		content:  "" attr(data-food);
		position: absolute;
		top: 9px;
		left: 4px;
		font-family: arial, helvetica, sans-serif;
		font-size: 12px;
		color: rgba(0, 0, 0, 0.9);
		font-weight: bold;
	}

.results-wrapper li {
	display: flex;
	flex-direction: column;
	/* margin: 20px; */
	padding: 5px;
	list-style-type: none;
}

.results-wrapper a {
	text-align: center;
	text-decoration: none;
	color: #d32323;
	padding: 10px;

}

.results-wrapper img {
	max-width: 100%;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.results-wrapper p, h1 {
	text-align: center;
	margin: 2px;
}
.results-wrapper h1 {
	margin-top: 10px;

}


#map {
	width: 50vw;
	height: 100vh;
	position: fixed;
	display: none;
	margin: 25px;
	overflow-y: scroll;
	
}

/*# sourceMappingURL=main.css.map */
